/client/web/node_modules
/client/web/app/bower_components
/server/node_modules
.DS_Store
*.swp
.grunt/
_SpecRunner.html
db_data/
whiteboard.sublime-project
whiteboard.sublime-workspace
npm-debug.log
._.DS_Store
client/**/xcuserdata
*.lock
client/ios/WhiteboardiOS/Pods/
client/**/*.xcuserdatad/
**/._*
xcuserdata/
client/ios/WhiteboardiOS/WhiteboardiOS.xcodeproj/xcuserdata/
*.a
client/ios/WhiteboardiOS/Frank/frank_static_resources.bundle/
