/client/web/node_modules
/client/web/app/bower_components
/server/node_modules
.DS_Store
*.swp
.grunt/
_SpecRunner.html
db_data/
whiteboard.sublime-project
whiteboard.sublime-workspace
npm-debug.log
._.DS_Store
client/ios/WhiteboardiOS/WhiteboardiOS.xcodeproj/xcuserdata
client/ios/WhiteboardiOS/WhiteboardiOS.xcodeproj/project.xcworkspace/xcuserdata
