@import 'boilerplate.css';
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: #F0F0F0;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* override pure-css font stack */
    font-family: 'Roboto', Georgia, Times, "Times New Roman", serif;
}

nav {
	background-color: #46799B;
	width: 100%;
	min-width: 916px;
	height: 50px;
	top: 0px;
	left: 0px;
	margin-bottom: 10px;
}

textarea {
    resize: none;
}

#nav-text {
	width: 916px;
	margin: 0 auto;
	display: block;
}

#nav-title {
	float: left;  
    font-size: 2em; 
    margin-top: 7px;
}

#nav-text a:visited {
    color: white;  
}

#nav-text a:hover {
    text-shadow: 2px 2px 4px #000000;  
}

#nav-details {
	float: right;
	display: inline-block;
    font-size: 1em;
    color: #000000;
    margin-top: 23px;
    margin-right: -9px;
}

#app-shield {
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#center-box {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: white;

    width: 600px;
    box-shadow: 4px 4px 4px #333333;

    padding: 10px;
}

#statusBox {
    text-align: center;
}

#statusBoxLabel {
    font-size: 26px;
    font-weight: bolder;
}

#userSettings {
    position: absolute;
    z-index: 2;
    
    background-color: white;

    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);

    border-style: solid;
    border-width: 2px;
    
    margin: 10px;

    padding: 10px;

    overflow: hidden;

    transform: scale(0, 0); 
    transition: transform 0.2s ease-in-out;
}

#userSettings.show {
     transform: scale(1, 1);
}

#userSettings.hide {
}

#userSettings hr {
    margin: 10px 0;
}

#userSettings .boxTitle {
    font-weight: bold;
    font-size: 14;
}

#userSettingsList {
    list-style-type: none;
    overflow: hidden;

    display: table-cell;

    vertical-align: top;
    width: 125px;
    height: 65px;

    padding: 5px;
    margin: 5px;
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 10px;
    border-right: 2px ridge;

}

#userSettingsList .selected {
    font-weight: bold;
}

#settingsSubMenu {
    display: table-cell;
    max-width: 0px;
    padding-left: 10px;
    overflow: hidden;
    transition: max-width 0.2s ease-in-out;
}

#settingsSubMenu.showSubmenu {
    max-width: 555px;
}

#subStatusLabel.error{
    color: red;
}

#subStatusLabel.message{
    color: black;
}

.link:hover {
     text-shadow: 1px 1px 1px #555;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}

.content-container {
	width: 916px;
	margin: 0 auto;
}

#dashboard {
	height: 100%;
    min-height: 600px;
	width: 100%;
	background-color: #A1C1CF;
	box-shadow: 1px 1px 2px #333;
	padding-left: 10px;
}

#dashboard a {
    color: #FFFFFF;
    text-decoration: none;
}

#dashboard a:hover:, #dashboard a:focus, #dashboard a:active {
    text-decoration: underline;
}

.room-item {
	box-shadow: 1px 1px 1px #333;
	background-color: #FFFFFF;
	width: 250px;
	height: 175px;
	margin: 10px auto;
}

#rooms-list-region span {
	margin: 0 auto;
}

#dashRoomLabel {
    text-align: center;
}

canvas {
	width: 700px;
	height: 500px;
    background-color: #FFFFFF;
	box-shadow: 1px 1px 1px #333;
}

#whiteboard-region {
	float: left;
}

#spinnerBox {
    position: absolute;
}

#spin-img {
    position: absolute;
    left: 274px;
    top: 174px;
}

#chat-region {
	float: right;
    width: 209px;
    font-size: 0.75em;
}

#chat-input {
    float: left;
    width: 127px;
    height: 69px;
}

#chat-region #send-btn {
    float: right;
    height: 75px;
    width: 67px;
}

.chat-component {
	width: 200px;
    background-color: #FFFFFF;
}

.chat-component #chat-messages-region {
    overflow-y: scroll;
    height: 427px;
}

#login-layout {
}

#loginStatusLabel {
    padding-bottom: 15px;
    color: red;
}

#loginInputLabels {
    display: inline-block;
}

#loginTextboxes {
    display: inline-block;
}

#saveSessionOption {
    padding-top: 10px;
    padding-bottom: 5px;
}

#loginButtons {
    margin-top: 10px;
}

#closeLoginBtn {
    float: right;
}

#tools-region {
    clear: left;
}

#tools-region .draw-tools {
    width: 100%;
    min-height: 100px;
}

#tools-region .tool {
    float: left;
    width: 33%;
    height: 100px;
    margin-top: 15px;
}

.selected {
    background-color: #46799B !important;
    opacity: 1 !important;
}

.tool-setting {
    height: 50%;
}

.selectable-tool {
    opacity: 0.5;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

.selectable-tool:hover {
    opacity: 0.8;
}

.colour-tile {
    float: left;
    height: 45px;
    width: 45px;
    opacity: 0.25;
    margin-right: 5px;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

.colour-tile:hover {
    opacity: 0.5;
}

.selected-colour {
    opacity: 1 !important;
    box-shadow: 0px 0px 10px #333;
}

#Black {
    background-color: black;
}

#Red {
    background-color: red;
}

#Blue {
    background-color: blue;
}

#Green {
    background-color: green;
}

#Yellow {
    background-color: yellow;
}

#Purple {
    background-color: purple;
}

#Draw {
    background-image: url("../images/draw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

#Erase {
    background-image: url("../images/erase.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

#size {
    width: 98%;
}

.hvr-grow {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #46799B;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #46799B;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #46799B;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}