@import 'boilerplate.css';

nav {
	background-color: #66CCFF;
	width: 100%;
	min-width: 916px;
	height: 50px;
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 5px #000000;
	margin-bottom: 10px;
}

#nav-text {
	width: 916px;
	margin: 0 auto;
	display: block;
}

#nav-title {
	float: left;
}

#nav-details {
	float: right;
	display: inline-block;
}

#app-shield {
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#center-box {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: white;

    width: 600px;
    box-shadow: 4px 4px 4px #333333;

    padding: 10px;
}

#statusBox {
    text-align: center;
}

#statusBoxLabel {
    font-size: 26px;
    font-weight: bolder;
}

#userSettings {
    position: absolute;
    z-index: 2;
    
    background-color: white;

    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);

    border-style: solid;
    border-width: 2px;
    
    margin: 10px;

    padding: 10px;

    overflow: hidden;

    transform: scale(0, 0); 
    transition: transform 0.2s ease-in-out;
}

#userSettings.show {
     transform: scale(1, 1);
}

#userSettings.hide {
}

#userSettings hr {
    margin: 10px 0;
}

#userSettings .boxTitle {
    font-weight: bold;
    font-size: 14;
}

#userSettingsList {
    list-style-type: none;
    overflow: hidden;

    display: table-cell;

    vertical-align: top;
    width: 125px;
    height: 65px;

    padding: 5px;
    margin: 5px;
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 10px;
    border-right: 2px ridge;

}

#userSettingsList .selected {
    font-weight: bold;
}

#settingsSubMenu {
    display: table-cell;
    max-width: 0px;
    padding-left: 10px;
    overflow: hidden;
    transition: max-width 0.2s ease-in-out;
}

#settingsSubMenu.showSubmenu {
    max-width: 555px;
}

#subStatusLabel.error{
    color: red;
}

#subStatusLabel.message{
    color: black;
}

.link:hover {
     text-shadow: 1px 1px 1px #555;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}

.content-container {
	width: 916px;
	margin: 0 auto;
}

#dashboard {
	height: 400px;
	width: 100%;
	background-color: #eee;
	border: 1px solid #333;
	box-shadow: 1px 1px 1px #333;

	padding-left: 10px;
}

.room-item {
	box-shadow: 1px 1px 1px #333;
	background-color: #FFFFFF;
	width: 150px;
	height: 100px;
	margin: 10px auto;
	border: 1px solid #000000;
}

#rooms-list-region span {
	margin: 0 auto;
}

#dashRoomLabel {
    text-align: center;
}

canvas {
	width: 700px;
	height: 500px;
	border: 1px solid #333;
	box-shadow: 1px 1px 1px #333;
}

#whiteboard-region {
	float: left;
}

#spinnerBox {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#chat-region {
	float: right;
}

.chat-component {
	width: 200px;
}

.chat-component #chat-messages-region {
    overflow-y: scroll;
    height: 450px;
}

#login-layout {
}

#loginStatusLabel {
    padding-bottom: 15px;
    color: red;
}

#loginInputLabels {
    display: inline-block;
}

#loginTextboxes {
    display: inline-block;
}

#saveSessionOption {
    padding-top: 10px;
    padding-bottom: 5px;
}

#loginButtons {
    margin-top: 10px;
}

#closeLoginBtn {
    float: right;
}

#tools-region {
    clear: left;
}

#tools-region .draw-tools {
    position: absolute;
    width: 100%;
    background-color: #d9f1a0;
    margin-top: 10px;
    min-height: 100px;
}

#tools-region .tool {
    float: left;
    width: 33%;
    height: 100px;
}

.selected {
    background-color: #d021fa !important;
}