<div id="createRoom">
    <h1>
    Create Room
    </h1>
    <hr />
    <div id="newRoomOptions">
        Room Name: <br />
        <input type="text" />
        <br />
        <br />
        Privacy Settings:<br />
        Public <input type="radio" name="privacy" /> Private <input type="radio" name="privacy" />
        <br />
        <br />
        Allow Anonymous:<br />
        Yes <input type="radio" name="allow_anon" /> No <input type="radio" name="allow_anon" />
        <br />
        <br />
    </div>
    <div id="newRoomInviteUsers">
        Add User: <input type="text" /> <input type="button" value="Add" />
        <br />
        <br />
        <select name="users" id="newRoomUserList" multiple>
            
        </select>
        <br />
        <input type="button" value="Remove" />&nbsp;<input type="button" value="Remove All" />
    </div>
    <div id="newRoomButtons">
        <input type="submit" value="Submit" />
    </div>
</div>
