<div class="selectable-tool tool selected" id="Draw"></div>
<div class="selectable-tool tool" id="Erase"></div>
<div class="tool" id="slider">
    <div class="tool-setting">
        <div>Size:</div>
        <input id="size" type="range" min="1" max="99" value="10" name="thickness"></input>
    </div>
    <div class="tool-setting">
        <div id="Black" class="colour-tile selected-colour"></div>
        <div id="Blue" class="colour-tile"></div>
        <div id="Red" class="colour-tile"></div>
        <div id="Yellow" class="colour-tile"></div>
        <div id="Green" class="colour-tile"></div>
        <div id="Purple" class="colour-tile"></div>
    </div>
</div>
