<div id="login-layout">
    <h3>Login/Register</h3>
    <hr />
    <div id="loginStatusLabel">
    </div>
    <div id="loginInputLabels">
        <span>Login: </span><br />
        <span>Password: </span>
    </div>
    <div id="loginTextboxes">
        <input type="text" id="loginText" /><br />
        <input type="text" id="passwordText" />
    </div>
    <div id="saveSessionOption">
        <input type="checkbox" name="saveSession" id="saveSessionCheckbox" />
        <span>Save the session (Auto Login every visit)</span>
    </div>
    <div id="loginButtons">
        <input type="button" value="Login" id="loginUserBtn" />
        <input type="button" value="Register" id="registerBtn" />
        <input type="button" value="Close" id="closeLoginBtn" />
    </div>
</div>
