<nav>
    <div id="nav-text">
        <a href="#">
            <div id="nav-title" class="hvr-grow">whiteboard</div>
        </a>
        <span id="nav-details">
            <% if(displayName){ %> <span id="userSettingsButton" class="link"><span id="userDisplayName"><%= displayName %></span><img src="images/settings_gear.svg" width="30px" height="30px" /></span><% } %>
            <% if(!anonymous){ %> | <span id="logoutButton" class="link"><span id="logout">Logout</span></span><% }else{ %> | <span id="loginButton" class="link"><span id="logout">Login/Register</span></span><% } %>
        </span>
    </div>
</nav>
<div id="userSettings">
</div>
