<span id="roomSettingsStatusText"></span> <br />
Room Name: <br />
<input type="text" id="roomNameText" />
<br />
<br />
Privacy Settings:<br />
Public <input type="radio" name="privacy" id="privacyPublicRadio" checked/> Private <input type="radio" name="privacy" id="privacyPrivateRadio"/>
<br />
<br />
Allow Anonymous:<br />
Yes <input type="radio" name="allow_anon" id="anonYesRadio" checked/> No <input type="radio" name="allow_anon" id="anonNoRadio"/>
<br />
<br />
<div id="newRoomButtons">
    <input type="submit" value="Submit" id="roomSubmitBtn" />
</div>
